asgiref>=3.8.1
astroid>=3.3.8
autopep8>=2.3.1
click>=8.1.8
colorama>=0.4.6
cssbeautifier>=1.15.1
dill>=0.3.9
Django>=4.2,<5.0
django-debug-toolbar>=4.4.6
django-extensions>=3.2.3
django-multi-captcha-admin>=2.0.0
django-robots>=6.1
django-simple-captcha>=0.6.0
django-taggit>=6.1.0
django-tinymce>=4.1.0
djlint>=1.36.4
EditorConfig>=0.17.0
isort>=5.13.2
jsbeautifier>=1.15.1
json5>=0.10.0
mccabe>=0.7.0
pathspec>=0.12.1
pillow>=11.1.0
platformdirs>=4.3.6
pycodestyle>=2.12.1
pylint>=3.3.3
pytz>=2024.2
PyYAML>=6.0.2
regex>=2024.11.6
six>=1.17.0
sqlparse>=0.5.3
tomlkit>=0.13.2
tqdm>=4.67.1
